@font-face {
  font-family: 'CWDangamAsac-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/CWDangamAsac-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  align-items: center;
  width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: 'CWDangamAsac-Bold', sans-serif;
  font-size: 4rem;
  color: #3b82f6;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.subheading {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  margin-bottom: 20px;
}

label {
  font-size: 0.9rem;
  text-align: left;
}

input {
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.signup-button {
  width: 400px;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.signup-button:hover {
  background-color: #2563eb;
}
