<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
  <div class="login-container">
    <h1 class="logo">한톡</h1>
    <form class="login-form" method="POST" action="/login">
      <input type="text" name="user_id" placeholder="아이디를 입력하세요." class="input-field" required>
      <input type="password" name="password" placeholder="비밀번호를 입력하세요." class="input-field" required>
      <button type="submit" class="login-button">로그인</button>
    </form>
    <div class="links">
      <a href="{{ url_for('signUp') }}">회원가입</a>
      <a href="#">아이디·비밀번호 찾기</a>
    </div>
  </div>
  <script src="../static/js/login.js"></script>
</body>
</html>
