<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>한톡</title>
  <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
  <div class="main-container">
    <h1 class="logo">한톡</h1>
    <h2>시작하기</h2>
    <div class="circle">
      <p class="circle-text">HAN<br>Talk</p>
    </div>
    <div class="buttons">
      <button class="main-button" onclick="location.href='/personalChat'">1:1 채팅 하기</button>
      <button class="main-button" onclick="location.href='/group_chat'">그룹 채팅 하기</button>
    </div>
  </div>
  <script src="../static/js/main.js"></script>
</body>
</html>
